POSTGRES_DB=simap
POSTGRES_USER=simap
POSTGRES_PASSWORD=simap
POSTGRES_PORT=5432
DATABASE_URL="postgresql://simap:simap@localhost:5432/simap?schema=public"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="simap_dev_nextauth_secret_key_super_secure_32_chars"

APP_TIMEZONE="America/Sao_Paulo"
NEXT_PUBLIC_APP_NAME="SIMAP"

SEED_ADMIN_NAME="Administrador SIMAP"
SEED_ADMIN_EMAIL="admin@simap.local"
SEED_ADMIN_PASSWORD="admin_jaborandi_2025"
SEED_DEMO="false"
